* {
    margin: 0;
    padding: 0;
}
:root {
    --txtcolor: brown;
}

body {
    background: gray;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightblue;
}
.provincias {
    display: flex;
    flex-direction: column;

}
.provincias__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightblue;
}
.provincias__datos {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
} 
.provincias__datos--imagen { 
    grid-area: 1 / 1 / 5 / 2;
}
.provincias__datos--parrafo1 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.provincias__datos--parrafo2 { 
    grid-area: 2 / 2 / 3 / 3; 
}
.provincias__datos--parrafo3 { 
    grid-area: 3 / 2 / 4 / 3; 
}
.provincias__datos--parrafo4 { 
    grid-area: 4 / 2 / 5 / 3; 
} 
.cordoba {
    color: var(--txtcolor);
}

.boton{
    display: inline-block;
    padding: 10px 20px;
}
.tabla{
    display:block;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
.visibleflex{
    display:flex;
}
.invisible{
    display: none;
}
.datos__backgroundcover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(204, 204, 204,0.4);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:99;
}
.datos__contenedor {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 600px;
    height: 600px;
    z-index: 100;
}
.visibleflex{
    display:flex;
}
.invisible{
    display: none;
}
.datos__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
