* {
    margin: 0;
    padding: 0;
}
body {
    background: gray;
}
.header{
    display: flex;
}
.header__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightblue;
}